{% extends "::baseadmin.html.twig" %}

{% block title %}
    {{ parent() }} - Listing des différents niveaux
{% endblock %}

{% block sidebarmenu %}
    {{ include('FormationAdminBundle::sidebar-menu.html.twig',{ 'pseudo': 'Delphine'}) }}
{% endblock %}

 {% block headersection %}
     {{ include('FormationAdminBundle::header.html.twig') }}
 {% endblock %}

{% block body -%}
    <h1>Liste des différents statuts liés aux inscritptions</h1>

    <div class="table-responsive">
        {{ addDataTable(dataTable,
        {"language": {
            'url': 'dataTables.french.lang'
        }
        }
        ) }}
    </div>

        <ul>
        <li>
            <a href="{{ path('subscriptionstatus_new') }}">
                Ajouter un nouveau statut
            </a>
        </li>
    </ul>
    {% endblock %}
