{% extends "::baseadmin.html.twig" %}

{% block title %}
    {{ parent() }} - Listing des différents niveaux
{% endblock %}

{% block sidebarmenu %}
    {{ include('FormationAdminBundle::sidebar-menu.html.twig',{ 'pseudo': 'Delphine'}) }}
{% endblock %}

 {% block headersection %}
     {{ include('FormationAdminBundle::header.html.twig') }}
 {% endblock %}

{% block body -%}
    <h1>Liste des différents niveaux</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Intitulé</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('level_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.slug }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('level_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('level_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('level_new') }}">
                Ajouter un nouveau niveau
            </a>
        </li>
    </ul>
    {% endblock %}
