<div class="modal fade bs-modal-lg" id="delete-{{ entity.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Suppression de la formation {{ entity.name }}</h4>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer cette formation ?
            </div>
            <form class="form-horizontal" action="{{ path('formation_delete', {'id':entity.id}) }}" method="post" {{ form_enctype(form) }}>
                <input type="hidden" value="DELETE" name="_method">
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">Annuler</button>
                    {{ form_widget(form.submit) }}
                    {#<button type="button" class="btn blue">Save changes</button>#}
                </div>
                {{ form_widget(form._token) }}
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>