{% extends "::baseadmin.html.twig" %}

{% block title %}
    {{ parent() }} - Listing des différents niveaux
{% endblock %}

{% block sidebarmenu %}
    {{ include('FormationAdminBundle::sidebar-menu.html.twig',{ 'pseudo': 'Delphine'}) }}
{% endblock %}

 {% block headersection %}
     {{ include('FormationAdminBundle::header.html.twig') }}
 {% endblock %}

{% block body -%}
    <h1>SessionDate</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Datestart</th>
                <td>{{ entity.dateStart|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateend</th>
                <td>{{ entity.dateEnd|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Timestart</th>
                <td>{{ entity.timeStart }}</td>
            </tr>
            <tr>
                <th>Timeend</th>
                <td>{{ entity.timeEnd }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('sessiondate') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('sessiondate_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
