<div class="session-all-element">
    <div class="col-md-4 session-element">
        {{ form_label(form.name, null, {'label_attr': {'class':'col-md-3 control-label'} }) }}
        <div class="col-md-9">
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} } ) }}
        </div>
    </div>
    <div class="col-md-4 session-element">
        {{ form_label(form.places, null, {'label_attr': {'class':'col-md-3 control-label'} }) }}
        <div class="col-md-9">
            {{ form_widget(form.places, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="col-md-4 session-element">
        {{ form_label(form.status, null, {'label_attr': {'class':'col-md-3 control-label'} }) }}
        <div class="col-md-9">
            {{ form_widget(form.status, { 'attr': {'class': 'select-select2 select-chosen', 'style': 'width: 100%'} }) }}
        </div>
    </div>
    <div class="col-md-12 sessiondates" data-prototype="{% filter escape %}
             {{ include('FormationAdminBundle:Form:prototype_sessiondate.html.twig', { 'form': form.sessionDates.vars.prototype|e }) }}         {% endfilter %}">
        {%  for date in form.sessionDates %}
            <div class="sessiondate-all-element">
                <div class="col-md-3 sessiondate-element">
                    <div class="col-md-9">
                        {{ form_widget(date.date_start, { 'attr': {'class': 'form-control'} } ) }}
                    </div>
                </div>
                <div class="col-md-3 sessiondate-element">
                    <div class="col-md-9">
                        {{ form_widget(date.time_start, { 'attr': {'class': 'form-control'} } ) }}
                    </div>
                </div>
                <div class="col-md-3 sessiondate-element">
                    <div class="col-md-9">
                        {{ form_widget(date.date_end, { 'attr': {'class': 'form-control'} } ) }}
                    </div>
                </div>
                <div class="col-md-3 sessiondate-element">
                    <div class="col-md-9">
                        {{ form_widget(date.time_end, { 'attr': {'class': 'form-control'} } ) }}
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
</div>