{% extends "::baseadmin.html.twig" %}

{% block title %}
    {{ parent() }} - Listing des différents niveaux
{% endblock %}

{% block sidebarmenu %}
    {{ include('FormationAdminBundle::sidebar-menu.html.twig',{ 'pseudo': 'Delphine'}) }}
{% endblock %}

 {% block headersection %}
     {{ include('FormationAdminBundle::header.html.twig') }}
 {% endblock %}

{% block body -%}
    <h1>Requirement</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('requirement') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('requirement_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
